.browsercast {
    position: absolute;
    top: 5px; left: 5px;
    right: 5px;
}

.browsercast-audio {
    width: 100%;
    margin: auto auto;
}

.browsercast-cue {
    position: relative;
    float: left;
    height: 10px;
    border-right: solid 2px #000;
    cursor: pointer;
}

.browsercast-cue:last-child {
    border-right: 0;
}

.browsercast-cue.active {
    background-color: #abc;
}

